*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/buildSrc/build/classes/kotlin/main/deps/AppBuildGradleDependencies.class
/buildSrc/build/classes/kotlin/main/deps/AppSettings.class
/buildSrc/build/libs/buildSrc.jar
/buildSrc/build/classes/kotlin/main/META-INF/buildSrc.kotlin_module
/buildSrc/build/kotlin/buildSrcjar-classes.txt
/buildSrc/build/classes/kotlin/main/deps/Dependencies$Dagger.class
/buildSrc/build/classes/kotlin/main/deps/Dependencies$Hilt.class
/buildSrc/build/classes/kotlin/main/deps/Dependencies$Lifecycle.class
/buildSrc/build/classes/kotlin/main/deps/Dependencies$Room.class
/buildSrc/build/classes/kotlin/main/deps/Dependencies.class
/buildSrc/build/classes/kotlin/main/deps/DependencyVersions.class
/buildSrc/build/classes/kotlin/main/GradleConstants.class
/buildSrc/build/tmp/jar/MANIFEST.MF
/buildSrc/build/classes/kotlin/main/deps/Modules.class
/buildSrc/build/pluginUnderTestMetadata/plugin-under-test-metadata.properties
/buildSrc/build/reports/plugin-development/validation-report.txt
/buildSrc/build
